@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .highlight-white {
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
    }
}

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-3000 {
      animation-delay: 3s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }